# gradle
.gradle/
build/
out/
classes/

# eclipse
*.launch

# idea
.idea/
*.iml
*.ipr
*.iws

# vscode
.vscode/
.settings/
bin/
.project
.classpath

*.DS_Store

run/
hs_err_*.log
replay_*.log
*.hprof
*.jfr
*.kra
DESIGN.md
*.bbmodel
*.jar
*/.cache/